{% extends "base.html.twig" %}

{% block main %}
<div class="wrapper">
    <form class="trip-create" method="post">
        <div class="create-header">
            Delete Trip
        </div>
        <div class="create-origin">
            <div class="create-origin-label">Origin</div>
            <input class="create-origin-content" name="project[origin]" value="{{ project.origin }}" disabled="disabled"/>
        </div>
        <div class="create-destination">
            <div class="create-destination-label">Destination</div>
            <input class="create-destination-content" name="project[destination]" value="{{ project.destination }}" disabled="disabled"/>
        </div>
        <div class="create-business">
            <div class="create-business-label">Business Class Price</div>
            <input type="number" min="0" class="create-business-content" name="project[business]" value="{{ project.business }}" disabled="disabled"/>
        </div>
        <div class="create-economy">
            <div class="create-economy-label">Economy Class Price</div>
            <input type="number" min="0" class="create-economy-content" name="project[economy]" value="{{ project.economy }}" disabled="disabled"/>
        </div>
        <div class="create-button-holder">
            <button type="submit" class="submit-button">Delete Trip</button>
            <a type="button" href="/" class="back-button">Back</a>
        </div>

        {{ form_row(form._token) }}
    </form>
</div>
{% endblock %}